.login-form {
  .dropdown {
    .btn {
      padding-right: 30px;
      &::after {
        position: absolute;
        right: 13px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &-item {
      cursor: pointer;
    }
    &-menu {
      max-height: 150px;
      overflow: auto;
    }

    img {
      object-fit: cover;
    }
  }
}
